<a class="active" id="home-link" href="index.html">Home</a>
<a id="te-houtaewa-link" href="blog/te-houtaewa-template.html">te-houtaewa</a>
<a id="html-css-link" href="blog/html-css.html">The CSS Box Model</a>
<a id="identity-link" href="blog/identity-values.html">Identity, Values, and Strengths Exploration</a>
<a id="learning-plan-link" href="blog/learning-plan.html">My Learning Plan</a>
<a id="javascript-dom-link" href="blog/javascript-dom.html">JavaScript Fundamentals</a>
<a id="emotional-intelligence-link" href="blog/emotional-intelligence.html">Emotional Intelligence</a>
<a id="problem-solving-link" href="blog/problem-solving.html">Problem Solving</a>
<a id="te-whare-tapa-wha-link" href="blog/te-whare-tapa-wha.html">Introducing Te Whare Tapa Whā</a>
<a id="neuroplasticity-link" href="blog/neuroplasticity.html">Neuroplasticity and Growth Mindset</a>
<a id="foundations-reflection-link" href="blog/foundations-reflection.html">Foundations Reflection</a>
