<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Captain's blog - <!--Blog Header--></title>
    <!-- <base href="https://hayden-flintoft.github.io/" /> -->
    <meta charset="utf-8" />
    <meta name="description" content="Captain's bLog" />
    <meta name="author" content="Hayden Flintoft" />
    <link rel="stylesheet" href="../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1>Captain's <span style="color: red">B</span>log</h1>
    </header>
    <nav id="nav" class="topnav">
      <!-- Nav template -->
    </nav>
    <header id="blog">
      <h2><!--Blog Header--></h2>
      <h3><!--Blog tag line-->></h3>
      <p><!--Publish date-->></p>
    </header>
    <article>
      <!--Blog content-->
    </article>
    <footer>
      <p>&copy; 2024 Hayden Flintoft - except images from Bing Copilot, DALL·E, placehold.co, picsum, and W3 School.</p>
    </footer>
  </body>
</html>
