<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Captain's blog - date - subject</title>
    <!-- <base href="https://hayden-flintoft.github.io/" /> -->
    <meta charset="utf-8" />
    <meta name="description" content="Captain's bLog" />
    <meta name="author" content="Hayden Flintoft" />
    <link rel="stylesheet" href="../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1>Captain's <span style="color: red">B</span>log</h1>
    </header>
    <nav class="topnav">
      <a href="index.html">Home</a>
      <a href="blog/te-houtaewa-template.html">te-houtaewa</a>
      <a href="blog/the-css-box-model.html">The CSS Box Model</a>
      <a href="blog/identity-values.html"
        >Identity, Values, and Strengths Exploration</a
      >
      <a href="blog/learning-plan.html">My Learning Plan</a>
    </nav>
    <section>
      <article>
        <header>
          <h1>date - subject</h1>
        </header>
        <details>
          <p>This is the beginning of my website home page.</p>
          <p>It will eventually contain a list of links to all my blogs.</p>
        </details>
      </article>
      <article>
        <!-- Cover Image -->
        <h1>date - subject</h1>
        <p>content</p>
      </article>
    </section>
    <footer>
      <p>&copy; 2021 Hayden Flintoft</p>
    </footer>
  </body>
</html>
